@charset "utf-8";
body { -webkit-user-select: none; user-select: none; }
.App-Theme { position: fixed; top: 0; right: 0; margin: 14px }
.App-Title { position: fixed; top: 0; left: 0; margin: 24px; margin-left: 32px; }
.App-Login--Flex { height: 100vh; width: 100vw; display: flex; align-items: center; justify-content: center; }
.App-Login--Btn { width: auto }
.App-Forgot--Btn { width: auto }
.appErrNotification { position: fixed; top: 0; right: 0; margin: 48px; }